.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: center;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: auto;
  border: black solid 1px; /* added it back so I can see the canvas area*/
}

img {
  height: 500px;
  width: inherit;
}

.image {
  margin: inherit;
  /*border: solid black 1px; took out the practice border*/
  float: left;
}

.text {
  font-size-adjust: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  /*border: solid black 1px; took out the practice border*/
  max-width: inherit;
  height: 500px;
  /*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
}